<h1>Editing Skill</h1>

<%= render 'form', skill: @skill %>
<div class="mb-2"></div>
<%= link_to 'Show', @skill , class: "btn btn-success"%> |
<%= link_to 'Back', skills_path, class: "btn btn-secondary" %>
