<h1>Editing Request</h1>

<%= render 'form', request: @request %>

<div class="mb-1"></div>
<%= link_to 'Show', @request, class: "btn btn-success" %> |
<%= link_to 'Back', requests_path, class: "btn btn-secondary" %>
