<h1>Editing Experience</h1>

<%= render 'form', experience: @experience %>

<%= link_to 'Show', @experience, class: "btn btn-success" %> |
<%= link_to 'Back', experiences_path ,class: "btn btn-secondary" %>
