<h1> Sign up</h1>


  <div class="mb-3">
    <%= Current.user.first_name %>
  </div>
  <div class="mb-3">
    <%= Current.user.last_name %>
  </div>
  <div class="mb-3">
    <%= Current.user.email %>
  </div>
<%= Current.user.user_address.city %>
